<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello From ME!</title>
</head>
<body>
    <h1>EJS Template!</h1>
    <p>Links</p>
    <ul>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add-student">Add Student</a></li>   
            <li><a href="/insert">Insert Student</a></li>
            <li><a href="/all">Show All</a></li>
            <li><a href="/highscores">Show Students with High Grades</a></li>
            <li><a href="/getchintan">Get Chintan</a></li>
            <li><a href="/update">Update </a></li>
            <li><a href="/deletealisha">Delete Emily</a></li>     
    </ul>
</body>
</html>