<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert a student</title>
</head>
<body>
    <form action="/student-entered" method="POST">
        <label for="">Student name:</label>
        <br>
        <input type="text" name="name">
        <br>
        <label for="">Student GPA:</label>
        <br>
        <input type="text" name="gpa">
        <br>
        <label for="">Has paid tution?</label>
        <br>
        <input type="checkbox" name="hasPaidTution">
        <br>
        <button>INSERT</button>
    </form>
</body>
</html>