<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1-_TAWSjOzhC4QppQ2fFJBwPil30j61k</string>
	<key>GCM_SENDER_ID</key>
	<string>602546424424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codingpirates.Chintan-Plants</string>
	<key>PROJECT_ID</key>
	<string>chintan-plants</string>
	<key>STORAGE_BUCKET</key>
	<string>chintan-plants.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602546424424:ios:98d98a8209e653c6d289dd</string>
</dict>
</plist>