body {
    font-family: Arial;
    width: 500px;
}

.result-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dice-container {
    display: flex;
    flex-direction: column;
}

img {
    height: 50px;
    width: 50px;
}

#result-p {
    margin-bottom: 0px;
}